/****************************|(layout bölümü)|****************************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body{
    height: 80vh;
}

/*------------------------------(header bölümü)------------------------------*/

header{
    background-image: url(../images/truck.jpg);
    background-position: center;
    background-size: cover;
    height: 60vw;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

/*------------------------------(main bölümü)------------------------------*/

/*first section*/

.first-section{
    display: flex;
    justify-content: flex-end;
}

.first-section > article{
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    
}

.first-section > article > h2{
    font-size: 60px;
    color: lightslategray;
    
}

.first-section > article > p{
    font-size: 20px;
    margin-top: 30px;
}

.first-section > article > hr{
    width: 10rem;
    height: 5px;
    margin-top: 30px;
    background-color: lightslategray;

}


/****************************|(style bölümü)|****************************/

a,a:link{
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

ul{
    list-style: none;
}

nav > ul > li{
    float: left;
    margin-right: 1rem;    
    margin-left: 1rem;    
}

header > hr{
    margin-top: 1rem;
    opacity: 30%;
}