@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

a, h1, h2, h3, h4, h5{ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase;}
p{font-family: 'Quicksand', sans-serif;}
a {color: azure; /*--*/ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase; font-size: 16px; /*--*/ text-decoration: none;}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body{
    background-image: url(../../../images/komyonlar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------(header bölümü)------------------------------*/
header{
    background-image: url(../../../images/tır.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

/*hamburger menü(hey, Kim sipariş etti.)*/


nav {
	background: #212121;
	opacity: 95%;
	font-size: 22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	justify-content: space-around;
}


#container {

	margin: 0 auto;
	max-width: 890px;
}

.toggle,
[id^=drop] {
	display: none;
}

nav { 
	margin:0;
	padding: 0;
}

#logo {
	padding: 1rem 0.5rem;
	float: left;
	line-height: 60px;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
}

nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
  transition: 500ms;
  background-color: #212121;
}


nav ul li ul li:hover { background: #000000; }

nav a:hover { 
	background-color: #000000; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
}

	
li > a:after { content:  ' | '; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0.5rem 0.5rem;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 100%;
    	text-transform: uppercase;  
    	text-align: center;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
		width: 100%;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: rgb(19, 18, 18);
		padding:14px 20px;	
		width: 100%;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #1a1414;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #302222;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #1d1919; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
/*------------------------------(main bölümü)------------------------------*/
main{
    padding: 4rem;
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.863),rgb(49, 49, 49));
    display: flex;
    flex-direction: column;
}

section > img{
    width: 50%;
    padding-bottom: 2rem;    
    padding-top: 2rem;
}
section > article > h3{font-size: 30px; color: lightblue;}
section > article > p{margin-top: 1rem; margin-bottom: 1rem; color: lightblue;}


/*footer bölümü*/
footer{
  display: grid;
  grid-template-areas: 
  "hak hiz gel ads"
  "alt alt alt alt";
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #333;
  padding-top: 3rem;
  justify-content: space-around;
  color: azure;
  padding-left: 7rem;
  padding-right: 7rem;
}
.hak{grid-area: hak;}
.hiz{grid-area: hiz;}
  .hiz > ul{
    list-style: none;
  }
    .hiz > ul > li{
      margin-top:    0.5rem;
      margin-bottom: 0.5rem;  
    }
.adres{grid-area: ads;}
.alt{grid-area: alt;}
.galeri{grid-area: gel;}
.galeri > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.galeri > div > img{
  width: 100px;
  height: 80px;
}
footer > div > hr{
  opacity: 50%;
  margin-top: 0.5rem;  
  margin-bottom: 0.5rem;
  width: 50%;
}
.adres > div{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.adres > div > i{margin-right: 1rem;}

@media (max-width: 1200px) {
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adres{
    align-items: baseline;
  }

  .adres > h4,
  .adres > hr{
    align-self: center;
  }

  .hak > p{
    text-align: center;
  }

  .alt{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.alt{
  border: solid black 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:    2rem;
  padding-bottom: 2rem;

  padding-right: 2rem;
  padding-left:  2rem;
}

.alt > .first > div > input{
  background-color: azure;
  font-size: 16px;
  font-family: 'Open Sans';
  padding: 0.5rem;
}

#kayit{
  background-color: #f46b45;
  border-radius: 7px;
}


.alt > .second{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alt > .second > hr{
  width: 100%;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-top: 1px dashed azure;
  opacity: 50%;
}

#ico{
  display: flex;
  gap: 0.5rem;
}

