@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

#bug{color: red; text-decoration: overline;}
a, h1, h2, h3, h4, h5{ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase;}
p{font-family: 'Quicksand', sans-serif;}
.hizlimenu > ul > li > a {font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase; font-size: 16px;}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body{
    background-image: url(images/komyonlar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------(header bölümü)------------------------------*/

header{
    background-image: url(images/tır.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    position: sticky;
    top: 0;
}

a,a:link{
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

nav > a > img{height: auto; width: 100px;}

ul{
    list-style: none;
}

nav > ul > li{
    float: left;
    margin-right: 1rem;    
    margin-left: 1rem;    
}

header > hr{
    margin-top: 1rem;
    opacity: 30%;
}

/*------------------------------(main bölümü)------------------------------*/

/*first section*/

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(49, 49, 49);
    color: azure;
    padding-bottom: 2rem;
}

.first-section > article{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;    
}

.first-section > article > h2{
    font-size: 60px;
    color: lightslategray;
    
}

.first-section > article > p{
    font-size: 20px;
    margin-top: 30px;
}

.first-section > article > hr{
    width: 10rem;
    height: 5px;
    margin-top: 30px;
    background-color: lightslategray;

}

/*second section (bu gerçekten zor)*/

.second-section{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(49, 49, 49, 0.904);*/
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.836));
    color: azure;
    padding-bottom: 4rem;
    justify-content: center;
}

.conter{display: flex; justify-content: center; align-items: center;}
.conter > h2{font-size: 5rem;}



/*js*/
#karayolu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 19px;
}


#havayolu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 19px;
  
}


#denizyolu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 19px;
  
}



#demiryolu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 19px;
}


.second-section > .conter > img{
    height: auto;
    width: 50%;
}

.black{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 15px;
    padding: 20px;
    border: 1px orange;
    background-color: azure;
    border-radius: 25px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.btn:focus{
    background-color: rgb(5, 5, 5);
    color: azure;
}

.btn:hover:not(:focus){
    opacity: 50%;
    cursor: pointer;
}

/*third section*/

.third{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    margin-left: 5rem; margin-right: 5rem;
    gap: 5rem;
}

.third > article{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px rgb(0, 0, 0) solid;
    flex: 1;
}

.third > article > h4 > .icon{
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.third > article > h4{
    display: flex;
    background-color: rgba(49, 49, 49, 0.897);
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.third > article > p{
    color: azure;
    background-color: rgb(104, 101, 95);
    padding: 0.5rem;
    border-top: 3px rgb(121, 172, 120) solid;
    /*
        first: top
        second: right
        third: bottom 
        four: left
    */

    /*
    border-top: 2px orange;
    margin: 1rem auto 1rem auto;
    padding-top: 0.5rem;
    */
}


/*fourth  section*/

/*üst kısım*/
.fourth{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(49, 49, 49, 0.788), rgb(49, 49, 49)75%);
    color: white;
    padding: 4rem 0rem 1rem 0rem;
}

.fourth > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.fourth > article > hr{width: 150px; height: 4px; background-color: orange; border-color: orange;}
.fourth > article > h3{margin: 0.5rem; font-size: 60px;}
.fourth > article > p {display: flex; margin: 1rem 4rem 0rem 4rem; text-align: center;}

/*alt kısım*/
.fourth > .imges{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
    flex-wrap: wrap;

}

.fourth > .imges > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
}

.fourth > .imges > figure > a > img{
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}

.fourth > .imges > figure > article{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 19rem;
}
.fourth > .imges > figure > article > h5{font-size: 20px; margin-bottom: 0.5rem;}

/*fifth section*/

/*üst kısım*/
.fifth{
    display: flex;
    flex-direction: column;
    background:rgb(49, 49, 49);
    color: white;
    padding: 4rem 0rem 1rem 0rem;
}

.fifth > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.fifth > article > hr{width: 150px; height: 4px; background-color: orange; border-color: orange;}
.fifth > article > h3{margin: 0.5rem; font-size: 35px;}
.fifth > article > p {display: flex; margin: 1rem 4rem 0rem 4rem; text-align: center;}

/*alt kısım*/
.yorumlar{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.yorum{
    display: flex;
    background-color: rgb(65, 65, 65);
    flex-direction: column;
    flex: 0 1 550px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px;
}

.yorum > div{
    display: flex;
    flex-direction: row;
}

.yorum > div > img{
    width: 70px;
    height: 70px;
}

.yorum > div > .isim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    gap: 0.2rem;
}
.yorum > div > .isim > h5{font-size: 25px;}
.yorum > div > .isim > hr{height: 5px; background-color: black; border-color: black;}

/*footer bölümü*/
footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.788));
    padding-top: 2rem;
    
}

footer > .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0rem 6rem 0rem 6rem;
}

/*---------------------------*/
footer > .first > .hakkımızda{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .hakkımızda > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}

/*---------------------------*/
footer > .first > .hizlimenu{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .hizlimenu > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .hizlimenu > ul > li{ margin: 0.5rem 0rem 0.5rem 0rem;}

/*---------------------------*/
footer > .first > .galeri{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .galeri > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .galeri > div{display: flex; flex-wrap: wrap; gap: 0.2rem; flex: 0 0 90%;}
footer > .first > .galeri > div > img{width: 4rem; height: 4rem;}

/*---------------------------*/
footer > .first > .ger{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .ger > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .ger > div{display: flex; flex-direction: row; align-items: center; margin: 0.5rem 0rem 0.5rem 0rem;}
footer > .first > .ger > div > article{display: flex; flex-direction: column; margin-left: 1rem;}
footer > .first > .ger > div > article > h6{font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-size: 14px;}
footer > .first > .ger > div > img{width: 1.5rem; height: 1.5rem;}

footer > .second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 6rem 0rem 6rem;
    flex-wrap: wrap;
}

/*alt kısım*/
footer > .second{
    padding-bottom: 2rem;
}

footer > .second > .first{
    display: flex;
    flex-direction: column;
}
footer > .second > .first > h5{margin-bottom: 0.5rem;}
footer > .second > .first > div > input{ background-color: black; width: 20rem; height: 120%;}
footer > .second > .first > div > a{padding: 0.5rem; background-color: rgb(0, 0, 0, 40%); border-radius: 15px;}

/*footer > .second > .second*/
footer > .second > .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > .second > .second > div > a > img{width: 2.5rem; height: 2.5rem; margin: 0rem 0.5rem 0rem 0.5rem;}
footer > .second > .second > p{font-size: 16px;}
footer > .second > .second > p > a{font-size: 20px; color: chartreuse;}
footer > *{color: azure;}