@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

#bug{color: red; text-decoration: overline;}
a, h1, h2, h3, h4, h5{ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase;}
p{font-family: 'Quicksand', sans-serif;}
a {color: azure; /*--*/ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase; font-size: 16px; /*--*/ text-decoration: none;}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body{
    background-image: url(../../images/komyonlar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------(header bölümü)------------------------------*/
header{
  background-image: url(../../images/tır.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

/*hamburger menü(hey, Kim sipariş etti.)*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
  align-items: center;
  height: 10vh;
}
.top-nav > a > img{width: 30%;}

nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu > li > a{
    color: azure;

}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/*------------------------------(main bölümü)------------------------------*/
main{
    padding: 4rem;
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.863),rgb(49, 49, 49));
    display: flex;
    flex-direction: column;
}

section > img{
    width: 80%;
    padding-bottom: 2rem;    
    padding-top: 2rem;
}
section > article > h3{font-size: 30px; color: lightblue;}
section > article > p{margin-top: 1rem; margin-bottom: 1rem; color: lightblue;}


/*footer bölümü*/
footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.788));
    padding-top: 2rem;
    
}

footer > .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0rem 6rem 0rem 6rem;
}

/*---------------------------*/
footer > .first > .hakkımızda{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .hakkımızda > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}

/*---------------------------*/
footer > .first > .hizlimenu{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .hizlimenu > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .hizlimenu > ul > li{ margin: 0.5rem 0rem 0.5rem 0rem;}

/*---------------------------*/
footer > .first > .galeri{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .galeri > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .galeri > div{display: flex; flex-wrap: wrap; gap: 0.2rem; flex: 0 0 90%;}
footer > .first > .galeri > div > img{width: 4rem; height: 4rem;}

/*---------------------------*/
footer > .first > .ger{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
}
footer > .first > .ger > hr{margin: 0.5rem 0rem 0.5rem 0rem; width: 25%;}
footer > .first > .ger > div{display: flex; flex-direction: row; align-items: center; margin: 0.5rem 0rem 0.5rem 0rem;}
footer > .first > .ger > div > article{display: flex; flex-direction: column; margin-left: 1rem;}
footer > .first > .ger > div > article > h6{font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-size: 14px;}
footer > .first > .ger > div > img{width: 1.5rem; height: 1.5rem;}

footer > .second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 6rem 0rem 6rem;
    flex-wrap: wrap;
}

/*alt kısım*/
footer > .second{
    padding-bottom: 2rem;
}

footer > .second > .first{
    display: flex;
    flex-direction: column;
}
footer > .second > .first > h5{margin-bottom: 0.5rem;}
footer > .second > .first > div > input{ background-color: black; width: 20rem; height: 120%;}
footer > .second > .first > div > a{padding: 0.5rem; background-color: rgb(0, 0, 0, 40%); border-radius: 15px;}

/*footer > .second > .second*/
footer > .second > .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > .second > .second > div > a{margin: 0rem 0.5rem 0rem 0.5rem;}
footer > .second > .second > p{font-size: 16px;}
footer > .second > .second > p > a{font-size: 20px; color: chartreuse;}
footer > *{color: azure;}